# URL database Turso, contoh: libsql://nama-db-org.turso.io
TURSO_DATABASE_URL=libsql://puskesmasbjg-report-uptpuskesmasbanjang-max.aws-ap-northeast-1.turso.io

# Auth token dari `turso db tokens create nama-db`
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODQwMDAzNjIsImlkIjoiMDE5ZjVlYjQtYjMwMS03Yjg0LTk3NTktY2E0YzEyOWY0M2Y2Iiwia2lkIjoiNjJnZnRMOHBEbzNWbncwbkJLRTlmaE0zRlJZNThGbkI4TFpucmpUNXVyQSIsInJpZCI6Ijg3ODc3ZWI3LWNkODgtNGM5ZS05OWE5LTg3MzJlZDg0YTFlOCJ9.CZIotcAnDiMSFp399rRmhLNPu4GbK60GjyOMEl_mn19LRncTIQozsoAW-ShuQUOSi1XYgLxLTOjxEw9AF4xEBQ

# String acak untuk enkripsi session NextAuth, generate dengan: openssl rand -base64 32
NEXTAUTH_SECRET=fH/o+WjBKOKUbddiCjTPryB/Kd0LuYZwnqBhE96+WFo=

# URL aplikasi setelah deploy, contoh: https://nama-app.vercel.app
NEXTAUTH_URL=fH/o+WjBKOKUbddiCjTPryB/Kd0LuYZwnqBhE96+WFo=
